@import './variables';

.icon {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;

    &.icon-small {
        width: 14px;
        height: 14px;

        &:after {
            width: 12px;
            height: 12px;
            background-size: 12px auto !important;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 20px auto !important;
        background-repeat: no-repeat !important;
        background-position: center center;
    }

    &.icon-dashboard:after {
        background: url('../assets/icons/dashboard.png');
    }

    &.icon-meals:after {
        background: url('../assets/icons/food-tray.png');
    }

    &.icon-products:after {
        background: url('../assets/icons/carrot.png');
    }

    &.icon-scale:after {
        background: url('../assets/icons/weight-scale.png');
    }

    &.icon-settings:after {
        background: url('../assets/icons/setting.png');
    }

    &.icon-arrow-left:after {
        background: url('../assets/icons/left-arrow.png');
    }

    &.icon-arrow-right:after {
        background: url('../assets/icons/right-arrow.png');
    }

    &.icon-kcal:after {
        background: url('../assets/icons/fire.png');
    }

    &.icon-kcal-lighter:after {
        background: url('../assets/icons/fire-lighter.png');
    }

    &.icon-close:after {
        background: url('../assets/icons/close.png');
    }
}
