$white: #ffffff;
$black: #211f29;
$lighter: #a19ea2;
$main-green: #a6c689;
$gray: #eeeeee;
$background: #f8f4f0;
$border: #dedad9;

$color1: #c77f8d;
$color2: #7a4852;
$color3: #a593c7;
$color4: #6a617a;
