<div class="calendar">
	<div class="weeks">
		<div class="arrow left">
			<i class="icon icon-arrow-left"></i>
		</div>
		<div class="text">
			<p>Plan żywieniowy</p>
			<span>8-14 maj 2023</span>
		</div>
		<div class="arrow left"><i class="icon icon-arrow-right"></i></div>
	</div>
	<div class="days">
		<div class="day">
			<span>Pn</span>
			<p>8</p>
		</div>

		<div class="day active">
			<span>Wt</span>
			<p>9</p>
		</div>

		<div class="day">
			<span>Śr</span>
			<p>10</p>
		</div>

		<div class="day">
			<span>Czw</span>
			<p>11</p>
		</div>

		<div class="day">
			<span>Pt</span>
			<p>12</p>
		</div>

		<div class="day">
			<span>Sob</span>
			<p>13</p>
		</div>

		<div class="day">
			<span>Nd</span>
			<p>14</p>
		</div>
	</div>
</div>

<div class="day-meals">
	<div class="meal">
		<header>
			<div class="meal-type">
				<p>Śniadanie</p>
				<span>7:00</span>
			</div>
			<div class="meal-nutrition">
				<div class="kcal"><i class="icon icon-small icon-kcal"></i> 515 kcal</div>
				<div class="proteins">B: 60 g</div>
				<div class="carbs">W: 110 g</div>
				<div class="fat">T: 21 g</div>
			</div>
		</header>
		<article>
			<div class="product">
				<p>Placuszki z mąki orkiszowej z bananami i borówkami oblane bitą śmietaną</p>
				<span>1 porcja (150 g)</span>
				<div class="meal-nutrition">
					<div class="kcal">515 kcal</div>
					<div class="proteins">B: 60 g</div>
					<div class="carbs">W: 110 g</div>
					<div class="fat">T: 21 g</div>
				</div>
			</div>
			<span class="icon icon-close"></span>
		</article>
		<article>
			<div class="product">
				<p>Bułka razowa z Lidla</p>
				<span>1 porcja (120 g)</span>
				<div class="meal-nutrition">
					<div class="kcal">245 kcal</div>
					<div class="proteins">B: 10 g</div>
					<div class="carbs">W: 90 g</div>
					<div class="fat">T: 3,5 g</div>
				</div>
			</div>
			<span class="icon icon-close"></span>
		</article>
	</div>

	<div class="meal">
		<header>
			<div class="meal-type">
				<p>Obiad</p>
				<span>13:00</span>
			</div>
			<div class="meal-nutrition">
				<div class="kcal"><i class="icon icon-small icon-kcal"></i> 723 kcal</div>
				<div class="proteins">B: 80 g</div>
				<div class="carbs">W: 120 g</div>
				<div class="fat">T: 10 g</div>
			</div>
		</header>
		<article>
			<div class="product">
				<p>Placuszki bananami i borówkami</p>
				<span>1 porcja (150 g)</span>
				<div class="meal-nutrition">
					<div class="kcal">515 kcal</div>
					<div class="proteins">B: 60 g</div>
					<div class="carbs">W: 110 g</div>
					<div class="fat">T: 21 g</div>
				</div>
			</div>
			<span class="icon icon-close"></span>
		</article>
	</div>

	<div class="meal">
		<header>
			<div class="meal-type">
				<p>Przekąska</p>
				<span>17:00</span>
			</div>
			<div class="meal-nutrition">
				<div class="kcal"><i class="icon icon-small icon-kcal"></i> 330 kcal</div>
				<div class="proteins">B: 40 g</div>
				<div class="carbs">W: 20 g</div>
				<div class="fat">T: 15 g</div>
			</div>
		</header>
		<article>
			<div class="product">
				<p>Placuszki bananami i borówkami</p>
				<span>1 porcja (150 g)</span>
				<div class="meal-nutrition">
					<div class="kcal">515 kcal</div>
					<div class="proteins">B: 60 g</div>
					<div class="carbs">W: 110 g</div>
					<div class="fat">T: 21 g</div>
				</div>
			</div>
			<span class="icon icon-close"></span>
		</article>
	</div>

	<div class="meal">
		<header>
			<div class="meal-type">
				<p>Kolacja</p>
				<span>20:00</span>
			</div>
			<div class="meal-nutrition">
				<div class="kcal"><i class="icon icon-small icon-kcal"></i> 233 kcal</div>
				<div class="proteins">B: 100 g</div>
				<div class="carbs">W: 10 g</div>
				<div class="fat">T: 3 g</div>
			</div>
		</header>
		<article>
			<div class="product">
				<p>Placuszki bananami i borówkami</p>
				<span>1 porcja (150 g)</span>
				<div class="meal-nutrition">
					<div class="kcal">515 kcal</div>
					<div class="proteins">B: 60 g</div>
					<div class="carbs">W: 110 g</div>
					<div class="fat">T: 21 g</div>
				</div>
			</div>
			<span class="icon icon-close"></span>
		</article>
	</div>
</div>

<div class="summary">
	<article class="kcal">
		<p>Energia</p>
		<div class="chart">
			<div class="progress"></div>
		</div>
		<span><strong>2173</strong>/2400 kcal</span>
	</article>

	<article class="proteins">
		<p>Białko</p>
		<div class="chart">
			<div class="progress" style="width: 95%"></div>
		</div>
		<span><strong>110</strong>/120 g</span>
	</article>

	<article class="carbs">
		<p>Węglow.</p>
		<div class="chart">
			<div class="progress" style="width: 80%"></div>
		</div>
		<span><strong>210</strong>/250 g</span>
	</article>

	<article class="fat">
		<p>Tłuszcz</p>
		<div class="chart">
			<div class="progress hot" style="width: 100%"></div>
		</div>
		<span><strong class="hot">90</strong>/75 g</span>
	</article>
</div>
