<div class="logo">
	<img src="assets/logo.png" />
</div>

<fa-user-info></fa-user-info>

<ul>
	<li class="active">
		<a href="#"><span class="icon icon-dashboard"></span> Podsumowanie</a>
	</li>
	<li>
		<a href="#"><span class="icon icon-meals"></span> Przepisy</a>
	</li>
	<li>
		<a href="#"><span class="icon icon-products"></span> Produkty</a>
	</li>
	<li>
		<a href="#"><span class="icon icon-scale"></span> Pomiary ciała</a>
	</li>
</ul>

<a href="#" class="settings"><span class="icon icon-settings"></span>Ustawienia</a>
